h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .btn, .btn-group {
    margin-bottom: 25px;
    white-space:normal !important;
    word-wrap: break-word; 
    word-break: normal;
  }
  .close {
    position: relative;
    top: -9px;
    float: right;
    right: -9px;
    color: white;
  }